html
  font-size 62.5%
body
  font-size 1.6rem
  background $gradient
  padding-top 60px
  min-height 100vh
.wrapper
  max-width 800px
  width 95%
  margin 0 auto
  display grid
  grid-gap 20px
  &--mini
    max-width 550px
    margin 0 auto
.app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color $dark-grey
a
  color lighten($dark-grey, 10)
  text-decoration none
  &:hover,
  &:focus,
  &:active
    text-decoration underline

a.btn,
.btn
  text-decoration none
  border 2px solid $dark-grey
  font-weight bold
  text-transform uppercase
  border-radius 3px
  padding 10px 40px
  transition(box-shadow)

  &:hover, &:focus, &:active
    box-shadow()